.bash_history
.bash_logout
.cache/
.cargo/
.compiz/
.config/
.ecryptfs
.gconf/
.gitconfig
.ICEauthority
.local/
.mozilla/
.pki/
.Private
.profile
.rustup/
.ssh/
.sudo_as_admin_successful
.vboxclient*
.vscode-server/
.Xauthority
.xsession*
examples.desktop
