.aws
.bash_history
.bash_logout
.cache/
.cargo/
.compiz/
.config/
.docker
.ecryptfs
.gconf/
.gitconfig
.ipfs
.ICEauthority
.local/
.mozilla/
.pki/
.Private
.profile
.python_history
.rustup/
.ssh/
.sudo_as_admin_successful
.viminfo
.vboxclient*
.vscode-server/
.Xauthority
.xsession*
examples.desktop
